body {
    margin: 0;
    padding: 0;
    height: 100vh;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background: linear-gradient(135deg, #c3dbbf, #ACB6E5); /* gradient bg */
    
    justify-content: center;
    align-items: center;
    color: #333;
}

h2 {
    background-color: rgba(255, 255, 255, 0.7);
    padding: 20px 40px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    font-size: 16px;
    color: #222;
}

p {
    background-color: rgba(238, 108, 108, 0.7);
    padding: 20px 40px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    font-size: 14px;
    color: #222222;
}

.essay-card {
    max-width: 600px;
    background-color: rgba(255, 255, 255, 0.85);
    padding: 20px 25px;
    margin-top: 30px;
    border-radius: 12px;
    box-shadow: 0 8px 16px rgba(0,0,0,0.1);
    text-align: left;
}

.essay-card h3 {
    margin-top: 0;
    font-size: 22px;
    color: #2c3e50;
}

.essay-card p {
    font-size: 16px;
    line-height: 1.6;
    color: #444;
}

