body {
    margin: 0;
    padding: 0;
    height: 100vh;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background: linear-gradient(135deg, #29b411, #ACB6E5); /* gradient bg */
    display: flex;
    justify-content: center;
    align-items: center;
    color: #333;
}

h2 {
    background-color: rgba(255, 255, 255, 0.7);
    padding: 20px 40px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    font-size: 24px;
    color: #222;
}

p {
    background-color: rgba(238, 108, 108, 0.7);
    padding: 20px 40px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    font-size: 24px;
    color: #222222;
}
